<div class="channel-container ">
  <div class="image-container">
    <img src="{{ channelLogo }}">
  </div>
  <div class="label-container">
    <label for="{{ channelId }}">
      {{ channelName }}
    </label>
  </div>
</div>
